fastapi~=0.110.1
uvicorn[standard]~=0.29.0
alembic~=1.13.1
python-multipart~=0.0.9
mangum~=0.17.0
SQLAlchemy~=2.0.29
sqlalchemy_utils~=0.41.2
mysqlclient~=2.1.0
pydantic~=2.7.0
requests~=2.31.0
pycryptodome~=3.20.0
pytz~=2024.1
xmltodict~=0.13.0
python-dateutil~=2.9.0.post0
boto3~=1.34.85
redis~=5.0.3
tenacity~=8.4.2
